:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;

	color: #0f0f0f;
	background-color: #f6f6f6;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

p[title^='\300c'],
p[title^='\300e'],
p[title^='\3010'],
h3[title^='\300c'],
h3[title^='\300e'],
h3[title^='\3010'] {
	text-indent: -0.6em;
}
